<h1>Penguins#create</h1>
<p>Find me in app/views/penguins/create.html.erb</p>
<h3>You had some validation errors:</h3>
<% @errors.each do |error| %>
	<p style='color: red;'><%= error %></p>
<% end %>
